Enigma/Enigma Procedure_files/*
Enigma/readingmaterial/*
.clang-format
.project
.cproject
*.o
*.exe
*.map
*.out.*
Enigma/gmon.out
Enigma/debug1
*.xlsm
*.gz
*.xml
*.tex
*.xlsx
*.out
*.log
*.bcf
*.aux
Enigma/Cryptography/
